include CHANGELOG
include LICENSE
include README.rst
include tests/*.py
include tests/*.md
include tests/data/*.npy
include examples/*.py
include doc/*.py
include doc/*.rst
include doc/*.md
include doc/extensions/*.py
